<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367682473783-mnli84lp8g8bumpt8gaq0r0oslob2rf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367682473783-mnli84lp8g8bumpt8gaq0r0oslob2rf6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367682473783-7n7vgqvm2s1qc9nj88fc33hq4364qk60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzt8wFuDhfZKvUkBoG-fGOBu3ca1JkFqo</string>
	<key>GCM_SENDER_ID</key>
	<string>367682473783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.JamAPP</string>
	<key>PROJECT_ID</key>
	<string>jam-chat-28-11</string>
	<key>STORAGE_BUCKET</key>
	<string>jam-chat-28-11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:367682473783:ios:dd2b52bc62ed6d905394b2</string>
	<key>DATABASE_URL</key>
	<string>https://jam-chat-28-11-default-rtdb.firebaseio.com</string>
</dict>
</plist>
